@model Ekspedition.ViewModel.DashboardAdmin

@{
    ViewBag.Title = "Index";
}

<add namespace="System.Linq" />
@{
    ExpeditionEntities db = new ExpeditionEntities();

    var query2 = from hs in db.HistoryShippings
                 join s in db.Shippings
                 on hs.Shipping_Id equals s.Id

                 join ss in db.StatusShippings
                 on hs.StatusShipping_Id equals ss.Id

                 join e in db.Employees
                 on hs.Employee_Id equals e.Id
                 
                 select new { hs, s, ss, e};

    var query2list = query2.ToList();
}

<div><p></p></div>
<a style="color:black;font-family:'Lucida Calligraphy'; font-size:large">Welcome</a>
<a style="color:#009900;font-family:'Lucida Calligraphy'; font-size:large">@ViewBag.EFName&nbsp;@ViewBag.ELName</a>
<br />
<div><p></p></div>



<div id="editprofile" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Profile </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> ×</button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="eid" value="@ViewBag.EId"/>
                    <div class="form-group col-md-12">
                        <label for="recipient-name" class="control-label"><b>First Name</b></label>
                        <input type="text" class="form-control" id="efirstname" value="">
                        <span class="error">Error !</span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="recipient-name" class="control-label"><b>Last Name</b></label>
                        <input type="text" class="form-control" id="elastname" value="">
                        <span class="error">Error !</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="control-label"><b>Position</b></label>
                        <input type="text" class="form-control" id="eposition" value="">
                        <span class="error">Error !</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="control-label"><b>Branch</b></label>

                        <select class="form-control" id="ebranch">
                            <option selected>Select Branch</option>
                            @foreach (var get in (IEnumerable<SelectListItem>)ViewBag.EBranchList)
                            {
                                if (get.Selected)
                                {
                                    <option value="@get.Value">@get.Text</option>
                                }
                                else
                                {
                                    <option value="@get.Value">@get.Text</option>
                                }
                            }
                        </select>

                        <span class="error">Error !</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="control-label"><b>Username</b></label>
                        <input type="text" class="form-control" id="eusername" value="">
                        <span class="error">Error !</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="recipient-name" class="control-label"><b>Password</b></label>
                        <input type="text" class="form-control" id="epassword" value="">
                        <span class="error">Error !</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="closeedit" type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button id="updateadmin" type="button" class="btn btn-danger waves-effect waves-light">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="row">    
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body" style="height: 152px">
                <h4 class="card-title"><i class="fa fa-truck"></i> Total Packages</h4>
                <div class="text-right">
                    <h1 class="font-light m-b-0" style="font-size: 25px"><i class="ti-arrow-up text-success"></i> <b>@ViewBag.SCount</b> Package Delivered</h1>
                </div>
                <span class="text-success" id="andri">@ViewBag.SCount</span>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.SCount%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-4 col-md-6">
        <div class="card" style="height: 509px">
            <div class="card-body">
                <p style="text-align:center">
                    <a><b>Informations</b></a>
                </p>
                <hr style="height:15px; border:0;border-top: 4px double #808080" />
                <div class="card bg-info">
                     <div class="card-body">
                         <div id="myCarousel" class="carousel slide" data-ride="carousel">
                             <div class="carousel-inner">
                                 <div class="carousel-item active flex-column">
                                     <div>
                                         <p style="text-align: center;color:whitesmoke;font-family:'Lucida Calligraphy'; font-size:24px; padding-top: 8px">
                                            <b> FAST Report</b>
                                         </p>
                                     </div>
                                     <div class="text-white m-t-20"></div>
                                 </div>
                                 @foreach (var item in query2list)
                                 {
                                    <div class="carousel-item flex-column">
                                        <div class="text-white">
                                            Shipping ID [<b>@Html.DisplayFor(modelItem => item.hs.StatusShipping_Id)</b>] deliver to <b>@Html.DisplayFor(modelItem => item.e.Branch.Name)</b>
                                        </div>
                                        <div class="text-white m-t-20">
                                            <a><i>Status : <b>@Html.DisplayFor(modelItem => item.hs.Shipping.StatusShipping.Name)</b></i></a>
                                            <a><i>By : <b>@Html.DisplayFor(modelItem => item.e.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.e.LastName)</b></i></a>
                                        </div>
                                    </div>
                                 }
                             </div>
                         </div>
                     </div>
                 </div>
                <div class="card bg-secondary">
                    <div class="card-body"  style="padding-bottom:0px">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active flex-column">
                                    <div class="text-white">
                                        <p style="text-align: center;color:whitesmoke;font-family:'Lucida Calligraphy'; font-size:24px;">
                                            <b>Total Data</b>
                                        </p>
                                    </div>
                                    <div class="text-white">
                                        <b>@ViewBag.SCount</b> Package
                                    </div>
                                    <div class="text-white">
                                        <b>@ViewBag.CCount</b> Category
                                    </div>
                                    <div class="text-white">
                                        <b>@ViewBag.BCount</b> Branch
                                    </div>
                                    <div class="text-white">
                                        <b>@ViewBag.WCount</b> Warehouse
                                    </div>
                                    <div class="text-white">
                                        <b>@ViewBag.SSCount</b> StatusShipping
                                    </div>
                                    <div class="text-white">
                                        <b>@ViewBag.SCount</b> Shipping
                                    </div>
                                    <div class="text-white m-t-20" style="padding-top: 22px; padding-bottom:0px">
                                        <p style="text-align:center">
                                            <a class="btn btn-warning fa fa-bar-chart" style="border-radius: 13px;" href="@Url.Action("Index","ManageApps")">&nbsp;&nbsp;&nbsp;Details&nbsp;&nbsp;&nbsp;</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-6">
        <div class="card" style="height: 509px">
            <div class="card-body">
                <p style="text-align:center">
                    <a><b>@ViewBag.EFName</b></a>
                </p>
                <hr style="height:15px; border:0;border-top: 4px double #808080" />
                <p style="text-align:center">
                    <img src="~/Content/assets/images/users/logo-user.png" alt="user" class="img-circle" width="100">
                </p>
                <div>
                    <br />
                    <a class="font-light"><b>FullName&nbsp;</b></a>
                    <a>&nbsp;&nbsp;:&nbsp;&nbsp;</a>
                    <a id="firstname">@ViewBag.EFName&nbsp;</a><a id="lastname">@ViewBag.ELName</a>
                    <br />
                    <a class="font-light"><b>Position&nbsp;&nbsp;&nbsp;</b></a>
                    <a>&nbsp;&nbsp;:&nbsp;&nbsp;</a>
                    <a id="position">@ViewBag.EPosition</a>
                    <br />
                    <a class="font-light"><b>Branch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></a>
                    <a>&nbsp;&nbsp;:&nbsp;&nbsp;</a>
                    <a id="branch">@ViewBag.EBranch</a>
                    <br />
                    <a class="font-light"><b>Username</b></a>
                    <a>&nbsp;&nbsp;:&nbsp;&nbsp;</a>
                    <a id="username">@ViewBag.EUsername</a>
                    <br />
                    <a class="font-light"><b>Password&nbsp;</b></a>
                    <a>&nbsp;&nbsp;:&nbsp;&nbsp;</a>
                    <a id="password">@ViewBag.EPassword</a>
                </div>
            </div>
            <div class="card-body">
                <hr style=" border:0;border-top: 4px double #808080" />
                <p style="text-align:center">
                    <a id="btneditprofileadmin" class="btn btn-warning fa fa-pencil-square" style="border-radius: 13px;"  data-toggle="modal" data-target="#editprofile" href="#">&nbsp;&nbsp;&nbsp;Edit Profile&nbsp;&nbsp;&nbsp;</a>
                </p>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/MyScript.js"></script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
</style>
<script>
    $(document).ready(function () {
        $('#btneditprofileadmin').click(function () {
            var firstname = document.getElementById('firstname');
            var lastname = document.getElementById('lastname');
            var position = document.getElementById('position');
            var username = document.getElementById('username');
            var password = document.getElementById('password');

            $('#efirstname').val(firstname.textContent);
            $('#elastname').val(lastname.textContent);
            $('#eposition').val(position.textContent);
            $('#eusername').val(username.textContent);
            $('#epassword').val(password.textContent);

            function setSelectedIndex(s, i) {

                s.options[i - 1].selected = true;

                return;

            }

            setSelectedIndex(document.getElementById("ebranch"), 1);
        });
    });
</script>