@model IEnumerable<Ekspedition.Shipping>

@{
    ViewBag.Title = "Index";
}

<add namespace="System.Linq" />

@{
    ExpeditionEntities db = new ExpeditionEntities();

    var data1 = from s in db.Shippings
                join c in db.Categories on s.Category_Id equals c.Id
                join ss in db.StatusShippings on s.StatusShipping_Id equals ss.Id
                join e in db.Employees on s.Employee_Id equals e.Id
                join b in db.Branchs on s.Destination_Branch_Id equals b.Id
                join v in db.Villages on b.Village_Id equals v.Id
                select new { c,s, ss, e, b, v };
    var SList = data1.ToList();
}

<h2><b>Shipping</b></h2>
<link href="~/Content/assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/assets/scss/style.css">
<link href="~/Content/assets/css/colors/blue.css" id="theme" rel="stylesheet">


<div class="row">
    <div class="col-12">
        <div class="card" id="listshipping">
            <div class="card-body">
                <h4 class="card-title">Shipping</h4>
                <h6 class="card-subtitle">Manage Shipping</h6>
                <p style="text-align:right">
                    @*<a class="btn btn-outline-success" style="border-radius: 13px;" href="@Url.Action("Create", "Categories")">Create New</a>*@
                    <a class="btn btn-outline-success" style="border-radius: 13px;" href="@Url.Action("Create", "Shippings")">Create New</a>
                </p>
                <div class="table-responsive m-t-5">
                    <table id="example1" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th hidden>ID</th>
                                <th>Category</th>
                                <th>Employee</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in SList)
                            {
                                <tr>
                                    <td hidden>@Html.DisplayFor(modelItem => item.s.Id)</td>
                                    <td >@Html.DisplayFor(modelItem => item.c.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.e.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.e.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.s.TotalPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ss.Name)</td>
                                    <td>
                                        <a class="btn btn-warning" style="border-radius: 13px;" href="@Url.Action("EditCategory", "ManageApps", new { id = item.s.Id })">Edit</a>
                                        <a hidden class="btn btn-info" style="border-radius: 13px;" href="@Url.Action("DetailCategory", "ManageApps", new { id = item.s.Id })">Details</a>
                                        <a class="btn btn-danger" style="border-radius: 13px;" href="@Url.Action("DeleteCategory", "ManageApps", new { id = item.s.Id })">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
@*<script src="~/Content/assets/plugins/bootstrap/js/popper.min.js"></script>*@ <!--bikin eror dropdown-->
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/Content/assets/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="~/Content/assets/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Content/assets/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="~/Content/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="~/Content/assets/js/custom.min.js"></script>
<!-- This is data table -->
<script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/buttons.flash.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/ManageScript.js"></script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
</style>
<!-- end - This is for export functionality only -->
<script>
            $('#example1').DataTable();
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>
<script>
    $(document).ready(function () {
        $("#btnAddBranch").click(function () {

            function setSelectedIndex(s, i) {
                s.options[i - 1].selected = true;
                return;
            }
            setSelectedIndex(document.getElementById("bprovince"), 1);
            setSelectedIndex(document.getElementById("bregency"), 1);
            setSelectedIndex(document.getElementById("bdistrict"), 1);
            setSelectedIndex(document.getElementById("bvillage"), 1);
            setSelectedIndex(document.getElementById("bwarehouse"), 1);
        })
        $("#bprovince").change(function () {
            $.get("/ManageApps/RegencyList", { dataId: $("#bprovince").val() }, function (data) {
                $("#bregency").empty();
                $("#bregency").append("<option selected value =''>" + "Select Regency" + "</option>")
                $.each(data, function (index, row) {
                    $("#bregency").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
        $("#wprovince").change(function () {
            $.get("/ManageApps/RegencyList", { dataId: $("#wprovince").val() }, function (data) {
                $("#wregency").empty();
                $("#wregency").append("<option selected value =''>" + "Select Regency" + "</option>")
                $.each(data, function (index, row) {
                    $("#wregency").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
    });


    $(document).ready(function () {
        $("#bregency").change(function () {
            $.get("/ManageApps/DistrictList", { dataId: $("#bregency").val() }, function (data) {
                $("#bdistrict").empty();
                $("#bdistrict").append("<option selected value =''>" + "Select District" + "</option>")
                $.each(data, function (index, row) {
                    $("#bdistrict").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
        $("#wregency").change(function () {
            $.get("/ManageApps/DistrictList", { dataId: $("#wregency").val() }, function (data) {
                $("#wdistrict").empty();
                $("#wdistrict").append("<option selected value =''>" + "Select District" + "</option>")
                $.each(data, function (index, row) {
                    $("#wdistrict").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
    });


    $(document).ready(function () {
        $("#bdistrict").change(function () {
            $.get("/ManageApps/VillageList", { dataId: $("#bdistrict").val() }, function (data) {
                $("#bvillage").empty();
                $("#bvillage").append("<option selected value =''>" + "Select Village" + "</option>")
                $.each(data, function (index, row) {
                    $("#bvillage").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
        $("#wdistrict").change(function () {
            $.get("/ManageApps/VillageList", { dataId: $("#wdistrict").val() }, function (data) {
                $("#wvillage").empty();
                $("#wvillage").append("<option selected value =''>" + "Select Village" + "</option>")
                $.each(data, function (index, row) {
                    $("#wvillage").append("<option value ='" + row.Id + "'>" + row.Name + "</option>")
                });
            });
        })
    });

</script>

<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="~/Content/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
</style>

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

