<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @RenderSection("styles", required: false)
    <title>NEW Logistics</title>
    <meta name="description" content="NEW Logistics">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/Content/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="~/Content/assets/css/lib/datatable/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/assets/scss/style.css">
    <link href="~/Content/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <style>
        body {
            padding-right:0 !important;
        }
    </style>
</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel" style="background-color : #0d0d0d">
        @Html.Partial("_LeftPanel")
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header" style="background-color : #808080">
            @Html.Partial("_Header")
        </header><!-- /header -->
        <!-- Header-->

        <div class="content">
            @RenderBody()
        </div> <!-- .content -->
    </div><!-- /#right-panel -->
    <!-- Right Panel -->

            <script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
            <script src="~/Content/assets/js/popper.min.js"></script>
            <script src="~/Scripts/popper.min.js"></script>
            <script src="~/Content/assets/js/plugins.js"></script>
            <script src="~/Content/assets/js/main.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#bootstrap-data-table-export').DataTable();
                });
            </script>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
           <script src="~/Scripts/jquery-2.2.4.min.js"></script>
</body>
</html>
